body {
  font-family: Arial, sans-serif;
  margin: 30px;
  background: #fafafa;
  color: #333;
}

h1 {
  text-align: center;
  color: #2b9348;
}

section {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  padding: 20px;
  margin-left: 180px;
  margin-right: 180px;
}

input,
button {
  margin: 5px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background-color: #2b9348;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #238636;
}

#batchList {
  margin-top: 10px;
}
.batch {
  background: #f3fff3;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border-left: 5px solid #2b9348;
}
